<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MiProyecto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/proyecto1">P1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proyecto2">P2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proyecto3">P3</a>
      </li><li class="nav-item">
        <a class="nav-link" routerLink="/proyecto4">P4</a>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex justify-content-center">
  <router-outlet></router-outlet>
</div>
