<div class="row">
  <div class="col-lg-8">
  <table class="table table-bordered">

  <thead>
    <th>ID</th>
    <th>NOMBRE</th>
    <th>PRECIO</th>
    <th>UNIDADES</th>
    <th>IMAGEN</th>
    <th>ACCIONES</th>
  </thead>
  <tbody>
  <tr *ngFor="let f of listaFrutas">
    <td>{{f.id}}</td>
    <td>{{f.nombre}}</td>
    <td>{{f.precio}}</td>
    <td>{{f.unidades}}</td>
    <td> <img src='{{f.imagen}}' width="50" height="50" > </td>
    <td> <button type="button" (click)="seleccionarProductos(f)"  class="btn btn-primary">Modificar</button> </td>
    <td> <button type="button" (click)="eliminarFruta(f)" class="btn btn-danger">Eliminar </button> </td>
  </tr>
</tbody>
</table>

  </div>
  <div class="col-lg-4">
    <form #f="ngForm">
      <!--parte de bootstrao de duseño de formulario-->
      <div class="form-group">
        <label for="id">ID</label>
      <input [(ngModel)]="frutaSeleccionada.id" type="text" name="id" id="id" class="form-control" placeholder="Enter id" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="nombre">NOMBRE</label>
      <input [(ngModel)]="frutaSeleccionada.nombre" type="text" name="nombre" id="nombre" class="form-control" placeholder="Enter nombre" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="precio">PRECIO</label>
      <input [(ngModel)]="frutaSeleccionada.precio" type="number" name="precio" id="precio" class="form-control"  aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="unidades">UNIDADES</label>
      <input [(ngModel)]="frutaSeleccionada.unidades" type="number" name="unidades" id="unidades" class="form-control" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="imagen">IMAGEN</label>
      <input [(ngModel)]="frutaSeleccionada.imagen" type="text" name="imagen" id="imagen" class="form-control" placeholder="Enter imagen" aria-describedby="helpId">
    </div>
    <button (click)="AniadirProducto(f)" class="btn btn-success">Crear producto</button>
    <button (click)="ActualizarProducto(f)" class="btn btn-danger">Actualizar producto</button>
    <button (click)="resetearFormulario()" class="btn btn-primary">ResetearForumulario</button>
    <p>{{info}}</p>

  </form>
  </div>

</div>
