<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 mb-3">
        <h2>Teclea EUROS</h2>
        <input type="number" placeholder="Introduce la cantidad de EUROS" [(ngModel)]="euros"
          (ngModelChange)="calcular('euros')" class="form-control mx-auto" style="max-width: 300px" />
      </div>

      <div class="col-12 mb-3">
        <h2>Teclea DÓLARES</h2>
        <input type="number" placeholder="Introduce la cantidad de DÓLARES" [(ngModel)]="dolares"
          (ngModelChange)="calcular('dolares')" class="form-control mx-auto" style="max-width: 300px" />
      </div>

      <div class="col-12 mb-3">
        <h2>Teclea YENES</h2>
        <input type="number" placeholder="Introduce la cantidad de YENES" [(ngModel)]="yenes"
          (ngModelChange)="calcular('yenes')" class="form-control mx-auto" style="max-width: 300px" />
      </div>

      <div class="col-12">
        <button (click)="limpiar()" class="btn btn-primary mt-3">
          Limpiar
        </button>
      </div>
    </div>
  </div>
</div>
