<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="fruta">
      <h2>Frutal</h2>


        <input
          [(ngModel)]="mensajeParaHuerto"
          (keyup)="enviaMensaje()"
          placeholder="Escribe un mensaje para el huerto"
        />


        <button (click)="enviarPlantones()">Mandar Plantones</button>


        <p>El Huerto dice: {{ mensajeDeEntradaFrutal }}</p>
    </div>
  </body>
</html>
